.Background1{
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.B1{
    color:skyblue;
    font-size: 20px;
    padding-left: 70%;
    display: flex;
    gap: 30px;
}
.B2{
    color:skyblue;
    font-size: 70px;
    padding-left: 5%;
    padding-top: 100px;
    text-align: center;
}
.B3{
    display: flex;
}
.A2{
    display: flex;
    width:300px;
    height:300px;
  margin-left: 100px;
}